*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px
    ;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    letter-spacing: 1px;
}
.movie-container{
    background: whitesmoke;
    width: 100%;
    max-width: 1200px;
    margin: 3rem;
}
@media screen and (min-width: 992px){
    .movie-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
       gap: 1.5rem;
    }
}